body {
    color:white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}
}
header {
    border-bottom:solid 2px rgb(106, 18, 141);
    padding: 20px;
    font-size: 39px;
    color: rgb(106, 18, 141);
}
section{
background: rgb(103, 36, 148);
padding-bottom:80px;
padding-top:80px;
display: flex;
justify-content: center;
}
chamada-texto {
    margin-right: 5%;
}
h1{
    font-size:40px;
}
p {
    font-size:20px;
}
img{
    height:200px;
}